@model JDev.Tuteee.EmailConsumer.EmailTemplates.Homework

<!DOCTYPE html>
 
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Homework</title>
</head>
<body>
<p>
    Hi @Model.FirstName,
</p>
<p>
    Here is your homework:
</p>
<p>
    @Model.Instructions
</p>
 
<p>John</p>
    
</body>
</html>