@model JDev.Tuteee.EmailConsumer.EmailTemplates.LessonSummary

<!DOCTYPE html>
 
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Your recent lesson</title>
</head>
<body>
<p>
    Hi @Model.FirstName,
</p>
<p>
    <b>Homework:</b> @Model.Instructions
</p>
 
<p>John</p>
    
</body>
</html>