@page "/"
@page "/clients"
@using System.Text.Json
@using JDev.Tuteee.ApiClient.DTOs
@inject HttpClient Http

<PageTitle>Clients</PageTitle>

<h1>Clients</h1>

@if (_clients == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Contact</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var client in _clients)
        {
            <tr>
                <td>
                    <NavLink class="nav-link" href=@($"/clients/{client.AccountId}") Match="NavLinkMatch.All">
                        @client.HolderFirstName @client.HolderLastName
                    </NavLink>
                </td>
                <td>@client.EmailAddress</td>
                <td>@client.PhoneNumber</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private ClientDto[]? _clients;

    protected override async Task OnInitializedAsync()
    {
        var response = await Http.GetAsync("/accounts");
        var json = await response.Content.ReadAsStringAsync();
        var options = new JsonSerializerOptions
        {
            PropertyNameCaseInsensitive = true
        };
        _clients = JsonSerializer.Deserialize<ClientDto[]>(json, options);
    }
}