@inherits ComponentBase

@inject NavigationManager NavigationManager

<div class="top-row px-4">
    <AuthorizeView>
        <Authorized>
            <form action="@Routing.Logout" method="post">
                <AntiforgeryToken/>
                <button type="submit" class="nav-link">
                    Logout
                </button>
            </form>
        </Authorized>
    </AuthorizeView>
</div>

@code
{
    protected override void OnInitialized()
    {
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        StateHasChanged();
    }
}

<style>
    .top-row {
        height: 3.5rem;
        background-color: rgba(1,1,1,0.1);
        display: flex;
        align-items: center;
        justify-content: right;
    }
</style>