@attribute [Route($"/{Routing.Calendar}")]

@using JDev.Tuteee.Identity.Models
@using JDev.Tuteee.Rest.ApiClient.ApiClients
@using JDev.Tuteee.Rest.ApiClient.DTOs
@using Microsoft.AspNetCore.Authorization

@inherits JDev.Tuteee.Identity.Components.CancellableComponentBase

@inject IRestApiClient RestApiClient;
@inject NavigationManager NavigationManager
@attribute [StreamRendering]
@rendermode InteractiveServer
@attribute [Authorize(Roles = "Admin")]

<PageTitle>Calendar</PageTitle>

<div class="d-flex flex-row justify-content-between mb-2">
    <h3>Calendar</h3>
</div>

<RadzenScheduler TItem="ScheduleItem"
                 style="height: 768px;"
                 Data=@_scheduleItems
                 SelectedIndex="1"
                 StartProperty="Start"
                 EndProperty="End"
                 TextProperty="Text"
                 AppointmentSelect="OnAppointmentSelect"
                 LoadData="OnLoadData"
>
    <RadzenWeekView/>
    <RadzenMonthView/>
</RadzenScheduler>

@code {
    private IEnumerable<ScheduleItem>? _scheduleItems;
    
    private void OnAppointmentSelect(SchedulerAppointmentSelectEventArgs<ScheduleItem> obj)
    {
        if (obj.Data.Link is not null)
            NavigationManager.NavigateTo(obj.Data.Link);
    }

    private async Task OnLoadData(SchedulerLoadDataEventArgs obj)
    {
        var reservations = (await RestApiClient.GetReservationSlotsAsync(CancellationToken))
            .SelectMany(rs => rs.GetReservedSlots(obj.Start, obj.End).Select(rsl => new ScheduleItem
            {
                Start = rsl.Start,
                End = rsl.End,
                Text = $"{rs.Tutee.FirstName} {rs.Tutee.LastName}"
            }));
        _scheduleItems = reservations;
    }

}