@attribute [Route("/")]
@attribute [Route($"/{Routing.Clients}")]

@using JDev.Tuteee.CustomTypes
@using JDev.Tuteee.Rest.ApiClient.ApiClients
@using JDev.Tuteee.Rest.ApiClient.DTOs
@using Microsoft.AspNetCore.Authorization
@using ButtonSize = BlazorBootstrap.ButtonSize

@inherits JDev.Tuteee.Identity.Components.CancellableComponentBase

@inject IRestApiClient RestApiClient;
@attribute [StreamRendering]
@rendermode InteractiveServer
@attribute [Authorize(Roles = "Admin")]

<PageTitle>Clients</PageTitle>

<Modal @ref="_modal" Title="Enter new client details">
    <BodyTemplate>
        First name
        <TextInput @bind-Value="_newClientFirstName"></TextInput>
        Last name
        <TextInput @bind-Value="_newClientLastName"></TextInput>
        Email address
        <TextInput @bind-Value="_newClientEmailAddress"></TextInput>
        Phone number
        <TextInput @bind-Value="_newClientPhoneNumber"></TextInput>
    </BodyTemplate>
    <FooterTemplate>
        <Button Color="ButtonColor.Primary" @onclick="OnHideAddClientModal">Add client</Button>
    </FooterTemplate>
</Modal>


@if (_clients is null)
{
    <p>Loading</p>
}
else
{
    <h4>
        Clients
        <Button Color="ButtonColor.None" Size="ButtonSize.Small" @onclick="OnShowAddClientModal">
            <Icon Name="IconName.PlusSquare" Color="IconColor.Primary" Size="IconSize.x5"/>
        </Button>
    </h4>
    <Grid @ref="_clientGrid"
          TItem="ClientDto"
          Class="table table-hover table-bordered table-striped"
          DataProvider="ClientsDataProvider"
          Responsive="true">
        <GridColumns>
            <GridColumn TItem="ClientDto" HeaderText="First name" PropertyName="HolderFirstName">
                <NavLink class="nav-link" href=@($"clients/{context.ClientId}") Match="NavLinkMatch.All">
                    @context.FirstName
                </NavLink>
            </GridColumn>
            <GridColumn TItem="ClientDto" HeaderText="Last name" PropertyName="HolderLastName">
                <NavLink class="nav-link" href=@($"clients/{context.ClientId}") Match="NavLinkMatch.All">
                    @context.LastName
                </NavLink>
            </GridColumn>
            <GridColumn TItem="ClientDto" HeaderText="Email" PropertyName="EmailAddress">
                @context.EmailAddress
            </GridColumn>
            <GridColumn TItem="ClientDto" HeaderText="Phone" PropertyName="PhoneNumber">
                @context.PhoneNumber.ToDisplay()
            </GridColumn>
        </GridColumns>
    </Grid>
}

@code {
    private IReadOnlyList<ClientDto>? _clients;
    private Grid<ClientDto> _clientGrid = default!;
    private Modal _modal = default!;
    private string _newClientFirstName = default!;
    private string _newClientLastName = default!;
    private string _newClientEmailAddress = default!;
    private string _newClientPhoneNumber = default!;
    
    protected override async Task OnInitializedAsync()
    {
        _clients = await RestApiClient.GetClientsAsync(CancellationToken);
    }
    
    private async Task<GridDataProviderResult<ClientDto>> ClientsDataProvider(GridDataProviderRequest<ClientDto> request)
    {
        return await Task.FromResult(request.ApplyTo(_clients ?? []));
    }

    private async Task OnShowAddClientModal()
    {
        await _modal.ShowAsync();
    }
    private async Task OnHideAddClientModal()
    {
        var dto = new ClientDto
        {
            FirstName = _newClientFirstName,
            LastName = _newClientLastName,
            EmailAddress = _newClientEmailAddress,
            PhoneNumber = new PhoneNumber{ Raw = _newClientPhoneNumber }
        };
        await RestApiClient.AddClientAsync(dto, CancellationToken);

        ResetNewClientInfo();

        _clients = await RestApiClient.GetClientsAsync(CancellationToken);
        await _clientGrid.RefreshDataAsync();

        await _modal.HideAsync();
    }

    private void ResetNewClientInfo()
    {
        _newClientFirstName = "";
        _newClientLastName = "";
        _newClientEmailAddress = "";
        _newClientPhoneNumber = "";
    }
}